﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#kontaktModal">Kontaktirajte nas!</button>

<div id="kontaktModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Kontakt forma</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/SubmitQuery" method="post" class="form-group">

                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label>Ime:</label>
                            <input type="text" name="ime" placeholder="Unesite ime" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-6 form-group">
                            <label>Prezime:</label>
                            <input type="text" name="prezime" placeholder="Unesite prezime" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group" style="clear: both">
                        <label>E-mail:</label>
                        <input type="email" name="email" placeholder="Unesite e-mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Poruka: </label>
                        <textarea name="poruka" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tip upita:</label>
                        <select name="tipPoruke" class="form-control">
                            <option value="Pohvala">Pohvala</option>
                            <option value="Upit">Upit</option>
                            <option value="Poslovni prijedlog">Poslovni prijedlog</option>
                            <option value="Žalba">Žalba</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="news"> Želim primati newsletter
                        </label>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="submit" class="btn btn-primary" value="Pošalji upit!" />
            </div>
        </div>
        </form>

    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Adresa sjedišta
            </div>
            <div class="panel-body">
                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Javite nam se
            </div>
            <div class="panel-body">
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>