﻿@{
    ViewBag.Title = "ContactSuccess";
}

<!-- Ovo ćemo zanemariti... -->
<br />
<h1> </h1>
<br />

<ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="/Home/Index">Home</a></li>
    <li class="breadcrumb-item"> <a href="/Home/Contact">Kontakt</a></li>
    <li class="breadcrumb-item active">Poruka poslana</li>
</ol>

<h2>Poruka uspješno poslana!</h2>

<div class="alert-success" style="padding: 15px">
    @ViewBag.Message
</div>